body {
    box-sizing: border-box;
    background: #d4fadd;
}

section {
    margin: 30px 0;
}

@media screen and (max-width: 992px){
    .header {
        gap: 20px;
        flex-direction: column;
    }

    .slide_content {
        max-width: 150px;
        background-size: contain;
    }
}

@media screen and (max-width: 768px){
    .nav_list {
        gap: 50px;
    }
    .nav_item span {
        display: none;
    }

    .nav_item img {
        width: 28px;
    }
}

